# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
local_settings.py

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Google credentials
credentials/
*.json

# Testes locais
teste_conexao_google.py

# Logs
*.log

# Sistema/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/